<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
    <form action="/adminGFA" method="post">
        <strong>GPA: </strong><input type="number" name="GPAInput" step="0.1">
        <br><br>
        <input type="submit" value="Submit Application">
    </form>
	<hr>
    <a href="/">HOME</a>

</body>

</html>

