<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Applicants Data</h1>

    <b>Name: </b><%- name %><br>
    <b>Email Address: </b><%- email %><br>
    <b>GPA: </b><%- gpa %><br>
    <b>Background Information: </b><br><%- backgroundInformation %><br>
    <hr>
    <a href="/">HOME</a>

</body>

</html>
