<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Review Application</h1>
    <form action="/reviewApplication" method="post">
        <fieldset>
            <b>Email Address: </b><input type="text" name="email">
            <br><br>
        </fieldset>
        <br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit Request">
    </form>
    <hr>
    <a href="/">HOME</a>

</body>

</html>